<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Editing tab2a</h1>

<!--<%= render 'form' %-->

<%= link_to 'Show', @tab2a %> |
<%= link_to 'Back', tab2as_path %>
    </div>
  </div>
</div>