<div class="container">
  <div class="row">
    <div class="span12">
      <h1>How To Use Pinksalt Template Generator</h1>
      <p>This is a very low-tech (honest!) way of generating templates for Shopify products. You enter the product information, it spits out code, you paste it into the Shopify HTML editor. That's it!</p>
      <p>You can also generate code for the box at the top of the shipping rates page.</p>
    </div>
  </div>
</div>
