<div class="container">
  <div class="row">
    <div class="col-xs-12 centered text-centered">
      <h1>Let's get started! What do you want to make?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 centered text-centered"><h3>A product description<br/><br/><a href="../tab1s" class="btn col-xs-12">Go!</a></h3>  </div>
    <div class="col-xs-6 centered text-centered"><h3>A box for the Shipping page<br/><br/><a href="../shippings" class="btn col-xs-12">Go!</a></h3></div>
  </div>
</div>
