<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Editing tab1</h1>

<%= render 'form' %>

<%= link_to 'Show', @tab1 %> |
<%= link_to 'Back', tab1s_path %>
    </div>
  </div>
</div>