/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body { padding-top: 200px; }
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; padding: 20px;}
th, td { border-bottom: 1px solid #DDD; border-right: 1px solid #ddd;}
table {
  border: 1px solid #ddd;
}

.navbar-inverse a.navbar-brand {
  background-color: #fff;
  color: #F0ACA8;
  width: 100px;
  font-size: 13px;
  height: 100px;
  padding: 0;
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
}
.navbar-inverse {
    background-color: /* #f9adb9 */ #F0ACA8;
    border-color: #B26F6B;
    padding-bottom: 10px;
    padding-top: 10px;
}

ul.navbar-right {
  padding-top: 25px;  
}

p, ol, ul, td {
    font-family: 'Montserrat',helvetica,sans-serif;
    font-weight: 400;
}

.btn {
  background-color: #f9adb9;
}

/*
#ww {
  background-color: #dddddd;
} */

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
/*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}

.bottomaligned {position:absolute; bottom:0;  margin-bottom:7px; margin:7px;}
.spacer {
  height: 40px;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

.centered pre {
  text-align: left;
}

textarea {
  display: block; 
  margin: 0 auto;
}